{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 d-flex align-items-center" style="padding: 1rem">
            <img
              src="https://static.wikia.nocookie.net/frieren/images/8/80/Frieren_anime_profile_3.png/revision/latest/scale-to-width-down/250?cb=20230714215442"
              class="img-fluid rounded-start"
              alt="프로필 이미지"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">이름: 프리렌</h5>
              <p class="card-text">마법사</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}